body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1198px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1205px;
  height:1560px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1205px;
  height:1560px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:772px;
  width:1201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:1560px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:960px;
  height:1560px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:772px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1205px;
  height:589px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:289px;
  width:1205px;
  height:589px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:286px;
  width:1201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:468px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:362px;
  width:940px;
  height:468px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:226px;
  width:936px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:468px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:362px;
  width:346px;
  height:468px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:226px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:424px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:383px;
  width:304px;
  height:424px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:204px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gotham Bold', 'Gotham';
  font-weight:700;
  font-style:normal;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:400px;
  width:169px;
  height:29px;
  font-family:'Gotham Bold', 'Gotham';
  font-weight:700;
  font-style:normal;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u14_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:322px;
  width:179px;
  height:40px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:175px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:43px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(102, 102, 108, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:635px;
  top:322px;
  width:234px;
  height:43px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:230px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:43px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(102, 102, 108, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:322px;
  width:181px;
  height:43px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:177px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gotham Bold', 'Gotham';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#A9291A;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:331px;
  width:44px;
  height:24px;
  font-family:'Gotham Bold', 'Gotham';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#A9291A;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u22_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gotham Bold', 'Gotham';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:674px;
  top:331px;
  width:165px;
  height:24px;
  font-family:'Gotham Bold', 'Gotham';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u24_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gotham Bold', 'Gotham';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:904px;
  top:331px;
  width:114px;
  height:24px;
  font-family:'Gotham Bold', 'Gotham';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gotham Bold', 'Gotham';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:679px;
  width:107px;
  height:21px;
  font-family:'Gotham Bold', 'Gotham';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u29_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gotham Light', 'Gotham';
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:706px;
  width:115px;
  height:38px;
  font-family:'Gotham Light', 'Gotham';
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gotham Bold', 'Gotham';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:686px;
  top:679px;
  width:100px;
  height:21px;
  font-family:'Gotham Bold', 'Gotham';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u34_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gotham Light', 'Gotham';
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:686px;
  top:706px;
  width:117px;
  height:38px;
  font-family:'Gotham Light', 'Gotham';
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gotham Bold', 'Gotham';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:902px;
  top:678px;
  width:102px;
  height:21px;
  font-family:'Gotham Bold', 'Gotham';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u39_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gotham Light', 'Gotham';
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:902px;
  top:706px;
  width:116px;
  height:38px;
  font-family:'Gotham Light', 'Gotham';
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u42_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1205px;
  height:112px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(92, 47, 42, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1433px;
  width:1205px;
  height:112px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:1201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:44px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:1399px;
  width:35px;
  height:44px;
  font-size:48px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Whitney SC Bold', 'Whitney SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:1464px;
  width:368px;
  height:23px;
  font-family:'Whitney SC Bold', 'Whitney SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  white-space:nowrap;
}
#u48_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:1406px;
  width:20px;
  height:37px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u50_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gotham Bold', 'Gotham';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:1497px;
  width:128px;
  height:16px;
  font-family:'Gotham Bold', 'Gotham';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u53_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1205px;
  height:150px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:27px;
  width:1205px;
  height:150px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:67px;
  width:1201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Whitney SC Bold', 'Whitney SC';
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:86px;
  width:482px;
  height:29px;
  font-family:'Whitney SC Bold', 'Whitney SC';
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  white-space:nowrap;
}
#u57_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:177px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:0px;
  width:424px;
  height:177px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:80px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:5px;
  background:inherit;
  background-color:rgba(220, 53, 34, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:561px;
  top:115px;
  width:77px;
  height:5px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:272px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:383px;
  width:576px;
  height:272px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:128px;
  width:572px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Whitney SC Bold', 'Whitney SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:767px;
  width:113px;
  height:40px;
  font-family:'Whitney SC Bold', 'Whitney SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:109px;
  word-wrap:break-word;
}
#u65_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:80px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:933px;
  width:180px;
  height:80px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1212px;
  height:351px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:988px;
  width:1212px;
  height:351px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:168px;
  width:1208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:1022px;
  width:60px;
  height:60px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gotham Bold', 'Gotham';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:1020px;
  width:142px;
  height:21px;
  font-family:'Gotham Bold', 'Gotham';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  white-space:nowrap;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:1054px;
  width:26px;
  height:25px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:1054px;
  width:26px;
  height:25px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:1054px;
  width:26px;
  height:25px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:1054px;
  width:26px;
  height:25px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:1054px;
  width:26px;
  height:25px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:1019px;
  width:60px;
  height:60px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gotham Bold', 'Gotham';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:1017px;
  width:142px;
  height:21px;
  font-family:'Gotham Bold', 'Gotham';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  white-space:nowrap;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:1051px;
  width:26px;
  height:25px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:784px;
  top:1051px;
  width:26px;
  height:25px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:1051px;
  width:26px;
  height:25px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:856px;
  top:1051px;
  width:26px;
  height:25px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:1051px;
  width:26px;
  height:25px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:1142px;
  width:60px;
  height:60px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gotham Bold', 'Gotham';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:1140px;
  width:142px;
  height:21px;
  font-family:'Gotham Bold', 'Gotham';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  white-space:nowrap;
}
#u101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:1174px;
  width:26px;
  height:25px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:1174px;
  width:26px;
  height:25px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:1174px;
  width:26px;
  height:25px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:1174px;
  width:26px;
  height:25px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:1174px;
  width:26px;
  height:25px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:1142px;
  width:60px;
  height:60px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gotham Bold', 'Gotham';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:1140px;
  width:142px;
  height:21px;
  font-family:'Gotham Bold', 'Gotham';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  white-space:nowrap;
}
#u115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:1174px;
  width:26px;
  height:25px;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:784px;
  top:1174px;
  width:26px;
  height:25px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:1174px;
  width:26px;
  height:25px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:856px;
  top:1174px;
  width:26px;
  height:25px;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:1174px;
  width:26px;
  height:25px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:1251px;
  width:60px;
  height:60px;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gotham Bold', 'Gotham';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:1249px;
  width:142px;
  height:21px;
  font-family:'Gotham Bold', 'Gotham';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  white-space:nowrap;
}
#u129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:1283px;
  width:26px;
  height:25px;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:784px;
  top:1283px;
  width:26px;
  height:25px;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:1283px;
  width:26px;
  height:25px;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:856px;
  top:1283px;
  width:26px;
  height:25px;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:1283px;
  width:26px;
  height:25px;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:1248px;
  width:60px;
  height:60px;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Gotham Bold', 'Gotham';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:1246px;
  width:142px;
  height:21px;
  font-family:'Gotham Bold', 'Gotham';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  white-space:nowrap;
}
#u143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:1280px;
  width:26px;
  height:25px;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:1280px;
  width:26px;
  height:25px;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:1280px;
  width:26px;
  height:25px;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:1280px;
  width:26px;
  height:25px;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:1280px;
  width:26px;
  height:25px;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:80px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:232px;
  width:180px;
  height:80px;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Whitney SC Bold', 'Whitney SC';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:243px;
  width:136px;
  height:36px;
  font-family:'Whitney SC Bold', 'Whitney SC';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
#u157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Whitney SC Bold', 'Whitney SC';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:942px;
  width:143px;
  height:36px;
  font-family:'Whitney SC Bold', 'Whitney SC';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  white-space:nowrap;
}
#u159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1205px;
  height:150px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:27px;
  width:1205px;
  height:150px;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:67px;
  width:1201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Whitney SC Bold', 'Whitney SC';
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:86px;
  width:482px;
  height:29px;
  font-family:'Whitney SC Bold', 'Whitney SC';
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  white-space:nowrap;
}
#u163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:177px;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:0px;
  width:424px;
  height:177px;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:80px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:5px;
  background:inherit;
  background-color:rgba(220, 53, 34, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:561px;
  top:115px;
  width:77px;
  height:5px;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
